<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WalmartTestEnvironments" type="Walmart.Framework"/>
  </configSections>

  <WalmartTestEnvironments>
    <WalmartTestEnvironment name="Guest" url="https://www.walmart.ca">
      <Walmarts>
        <Walmart username="guestUser" password="" role="readonly"/>
        <Walmart username="ttest3" password="password" role="AutoTest"/>
      </Walmarts>
    </WalmartTestEnvironment>
    <WalmartTestEnvironment name="Production" url="https://www.walmart.com">
      <Walmarts>
        <Walmart username="admin" password="password" role="Admin"/>
        <Walmart username="jyoti" password="test" role="JyotiTest"/>
      </Walmarts>
    </WalmartTestEnvironment>
  </WalmartTestEnvironments>
  
  <appSettings>
    <add key="Environment" value="Guest"/>
    <add key="Browser" value="Chrome"/>
    <add key="Timeout" value="15"/>
    <add key="IncludeTestDataCheck" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
